#main > .inner > .active {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#main > .inner > section {
  transition: opacity 0.5s ease-in-out 0.25s, transform 0.5s ease-in-out 0.25s,
    min-height 0.25s ease-in-out, max-height 0.25s ease-in-out;
}

#home-section {
  height: calc(100vh - 2 * var(--padding-vertical));
}

#home-section > #container01 {
  height: 100%;
}

#main > .inner > * > :last-child {
  margin-bottom: 0 !important;
}
#main > .inner > * > :first-child {
  margin-top: 0 !important;
}
#main > .inner > * > * {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}
.container.style2 {
  --alignment: left;
  --flex-alignment: flex-start;
  --indent-left: 1;
  --indent-right: 0;
  --margin-left: 0;
  --margin-right: auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    179deg,
    rgba(0, 48, 73, 0.922) 50%,
    rgba(1, 24, 36, 0.89) 100%
  );
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(0.125rem);
  backdrop-filter: blur(0.125rem);
  border-radius: 1.875rem;
}
.container {
  position: relative;
}

#container01 > .wrapper {
  height: 100%;
  overflow: hidden;
}
.container.style2 > .wrapper {
  max-width: var(--width);
  width: 100%;
}
.container > .wrapper {
  vertical-align: top;
  position: relative;
  max-width: 100%;
  border-radius: inherit;
}
#container01 > .wrapper > .inner {
  height: calc(100vh - var(--padding-vertical));
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
.container.style2 > .wrapper > .inner {
  --gutters: 8rem;
  --padding-horizontal: 4rem;
  --padding-vertical: 4rem;
  --spacing: 0.75rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
  border-radius: calc(1.875rem - 1px);
}
.container > .wrapper > .inner {
  vertical-align: top;
  position: relative;
  max-width: 100%;
  border-radius: inherit;
  text-align: var(--alignment);
}

h1,
h2,
h3,
p {
  direction: var(--site-language-direction);
  position: relative;
}

#container01 > .wrapper > .inner > :nth-child(1) {
  min-height: auto !important;
}

.container.style2.default > .wrapper > .inner > *:first-child {
  margin-top: 0 !important;
}

.container.style2.default > .wrapper > .inner > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

.section-title {
  color: #f1faee;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.075rem;
  width: 100%;
  font-size: 2.5em;
  line-height: 0.75;
  font-weight: 700;
}

.section-description {
  color: rgba(255, 255, 255, 0.671);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.025rem;
  width: calc(100% + 0.025rem);
  font-size: 0.875em;
  line-height: 1.875;
  font-weight: 400;
}

h1.section-description:not(:first-child),
h2.section-description:not(:first-child),
h3.section-description:not(:first-child),
p.section-description:not(:first-child) {
  margin-top: 1.25rem !important;
}

h1.section-description:not(:last-child),
h2.section-description:not(:last-child),
h3.section-description:not(:last-child),
p.section-description:not(:last-child) {
  margin-bottom: 1.25rem !important;
}
